@model List<CollegeManagement.Models.Professor>

<h1>Professors</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var professor in Model)
        {
            <tr>
                <td>@professor.Id</td>
                <td>@professor.Name</td>
                <td>@professor.Age</td>
                <td>@professor.Salary</td>
            </tr>
        }
    </tbody>
</table>